.logo-img {
    width: fit-content;
    height: 80px;
    display: flex;
}

.logo-img img {
    width: 80px;
    height: 80px;
    display: flex;
}

.logo-text {
    width: fit-content;
    height: 80px;
    font-family: "Great Vibes";
    font-size: 42px;
    font-weight: 400;
    color: white;
    text-decoration: none;
    align-content: center;
}