.appbar {
background-color: rgb(193, 115, 14);
    max-width: 1420px;
}

.header-container {
    max-width: 1420px;
}

.toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}